@font-face {
    font-family:mplus-1m-regular, courier;
    src: url(/fonts/mplus-1m-regular.ttf)
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 95%;
    margin: 0 auto;
    font-family: mplus-1m-regular, courier;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
}

* {
    color: black;
    font-family: mplus-1m-regular, courier;
}

article {
    white-space: pre-wrap;
}

a:hover, a:active {
    background-color: #f4f4ec;
    color: #191919;
}

h2 a:link, h2 a:visited {
    color: #f4f4ec;
}
a:hover, a:active {
    color: #3c3c3b;
}

a:link, a:visited {
    text-decoration: underline;
    -webkit-transition: background-color .15s linear,color .15s linear;
    -moz-transition: background-color .15s linear,color .15s linear;
    -o-transition: background-color .15s linear,color .15s linear;
    transition: background-color .15s linear,color .15s linear;
}

